<p>
  votecount: <p id="points_<%= question.id %>"><%= question.points %></p> | <%= link_to "up", upvote_question_path(question), remote: true, method: :post  %> <%= link_to "down", downvote_question_path(question), remote: true, method: :post %>
</p>
